<!-- <!DOCTYPE html>

<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{ lat }}, lng: {{ long }}},
           /*center: {lat: 22.322204, lng: 87.304784}, */
          zoom: 5
        };
      }
    };

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbLHWA00zx9FW9qT_kicXVELacMBo8Dao&callback=initMap"
    async defer></script>
  </body>
</html>
 -->


<!-- ------------------------------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        width:70%;
      }
    </style>
  </head>
  <body>
    <div id="map" ></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{ lat }}, lng: {{ long }}},
          zoom: 10
        });
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<img src = "{{ url_for('static', filename=thmb) }}" height="100" width="100" >'+
            '<p>Completion Status : {{rad}}</p>'+
            '<p>Latitude : {{lat}}</p>'+
            '<p>Longitude : {{long}}</p>'+
            '</div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: {lat: {{ lat }}, lng: {{ long }}},

          map: map,
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbLHWA00zx9FW9qT_kicXVELacMBo8Dao&callback=initMap"
    async defer></script>
  </body>
</html>